In [1]:
pip install numpy pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /opt/anaconda3/envs/jupyterhub/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/envs/jupyterhub/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/jupyterhub/lib/python3.12/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/jupyterhub/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/jupyterhub/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/jupyterhub/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import glob # finding file paths by pattern (e.g. "*.csv")
import os # working with folder/file paths
import re # For regular expressions (to pull numbers out of filenames)
from collections import OrderedDict # OrderedDict remembers the order that you insert items into
from IPython.display import display # display() nicely shows Dataframes

In [3]:
release_points = {
    'test-2': {'X': -4.856481129, 'Z': -4.322118356},
    'test-3': {'X': -4.89719112, 'Z': -4.183614366},
    'test-4': {'X': -5.186691303, 'Z': -4.322118356}, 
    'test-5': {'X': -1.762650653, 'Z': -0.57249375}, 
    'test-6': {'X': -8.744156604, 'Z': -1.08049375},
    'test-7': {'X': -7.538065163, 'Z': -5.16671875}, 
    'test-8': {'X': -9.175183123, 'Z': -7.98929375},
    'test-9': {'X': -3.326592432, 'Z': -8.01469375}, 
    'test-10': {'X': -0.974541231, 'Z': -4.02689375},
    'test-11': {'X': -5.186691303, 'Z': -4.322118356},
    'test-12': {'X':-4.856481129, 'Z': -4.322118356},
}

# LOAD RAW DATA

In [4]:
custom_bounds = {
    'test-11': {'col': 'flow-time', 'low': 60, 'high': 1060},
    'test-12': {'col': 'flow-time', 'low': 0, 'high': 1000},
}

In [5]:
# Apply these to any files with "time" or "flow-time" columns
defaults = {
    'time': (0, 1000),
    'flow-time': (300, 1300),
}

In [6]:
# Function to pull the first number from a filename
def extract_num(path):
    # get "test-3.csv" -> "test-3"
    name = os.path.splitext(os.path.basename(path))[0]
    # look for digits inside that base name
    m = re.search(r'(\d+)', name)
    # Return number if found, else a big "infinite" value
    return int(m.group(1)) if m else float('inf')

In [7]:
# Find all CSVs and sort by that first number
data_folder = os.path.join('..', '..', 'Datasets')
pattern = os.path.join(data_folder, '*.csv')
paths = sorted(glob.glob(pattern), key=extract_num) # paths is a list of full CSV file paths, in numeric order

In [8]:
# Load each CSV, filter, tag with X/Z, and keep in order
filtered = OrderedDict()
for path in paths:
    name = os.path.splitext(os.path.basename(path))[0]
    df = pd.read_csv(path)

    # Choose which column & bounds to use
    if name in custom_bounds:
        spec = custom_bounds[name]
        col, low, high = spec['col'], spec['low'], spec['high']
    elif 'time' in df.columns:
        col, (low, high) = 'time', defaults['time']

    elif 'flow-time' in df.columns:
        col, (low, high) = 'flow-time', defaults['flow-time']

    else:

        continue

    # actually filter those rows and reset row numbers
    df_range = df[df[col].between(low, high)].copy()
    df_range.reset_index(drop=True, inplace=True)

    if name in release_points:
        df_range['X'] = release_points[name]['X']
        df_range['Z'] = release_points[name]['Z']

    else:
        print(f"no release_points entry for {name}")

    # Store under a new key like "test2_data_range"
    filtered[f"{name}_range"] = df_range


def head_tail(df, n = 5):
    # take first n rows and last n rows, put them together
    return pd.concat([df.head(n), df.tail(n)])

# Show just the first and last 5 rows
for key, df_r in filtered.items():
    print(f"{key}: {len(df_r)} rows -> ")
    print('---------------------------')

    display(head_tail(df_r, n=5))
    #display(df_r.tail())

test-2_range: 1001 rows ->
---------------------------

,time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,0,-107.526882,-226.000000,222.222222,175.627240,268.817204,-14.336918,86.021505,-57.347670,-78.853047,107.526882,-688.172043,-4505.376344,-4856.630824,258.064516,-408.602150,-25.089606,-4.856481,-4.322118
1,1,-107.526882,-151.000000,71.684588,175.627240,193.548387,60.931900,10.752688,-57.347670,-78.853047,32.258065,-612.903226,-4430.107527,-4781.362007,258.064516,-333.333333,-100.358423,-4.856481,-4.322118
2,2,-107.526882,-75.300000,71.684588,250.896057,193.548387,60.931900,10.752688,-57.347670,-78.853047,107.526882,-537.634409,-4354.838710,-4630.824373,182.795699,-333.333333,-25.089606,-4.856481,-4.322118
3,3,-107.526882,-150.537634,222.222222,326.164875,268.817204,-14.336918,161.290323,-57.347670,-78.853047,107.526882,-537.634409,-4354.838710,-4706.093190,182.795699,-258.064516,-25.089606,-4.856481,-4.322118
4,4,-32.258065,-75.268817,71.684588,326.164875,193.548387,60.931900,311.827957,-57.347670,-154.121864,107.526882,-537.634409,-4279.569892,-4630.824373,107.526882,-182.795699,50.179211,-4.856481,-4.322118
996,996,2526.881720,4290.322581,4362.007168,5218.637993,3731.182796,3146.953405,2494.623656,2878.136201,2103.942652,3946.236559,440.860215,2870.967742,2896.057348,2967.741935,4483.870968,4114.695341,-4.856481,-4.322118
997,997,2451.612903,4440.860215,4286.738351,5218.637993,3806.451613,3146.953405,2569.892473,2802.867384,2103.942652,3870.967742,440.860215,2569.892473,2519.713262,2892.473118,4408.602151,4265.232975,-4.856481,-4.322118
998,998,2451.612903,4365.591398,4286.738351,5293.906810,3806.451613,3222.222222,2645.161290,2878.136201,2179.211470,3795.698925,440.860215,2419.354839,1992.831541,2892.473118,4182.795699,4491.039427,-4.856481,-4.322118
999,999,2451.612903,4365.591398,4286.738351,5369.175627,3806.451613,3222.222222,2645.161290,2878.136201,2179.211470,3870.967742,741.935484,1967.741935,1616.487455,2817.204301,4107.526882,4867.383513,-4.856481,-4.322118
1000,1000,2451.612903,4365.591398,4211.469534,5369.175627,3806.451613,3372.759857,2569.892473,2878.136201,2254.480287,3870.967742,1043.010753,1591.397849,1390.681004,2741.935484,3881.720430,4942.652330,-4.856481,-4.322118

test-3_range: 1001 rows ->
---------------------------

,time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,0,30,-170,30,-70,-40,20,-100,120,50,60,70,50,100,40,70,120,-4.897191,-4.183614
1,1,0,60,60,-130,-140,20,0,60,50,-20,50,60,60,-220,30,0,-4.897191,-4.183614
2,2,40,-150,60,-100,-190,40,50,20,70,100,10,40,70,-160,100,170,-4.897191,-4.183614
3,3,30,-150,40,60,-120,60,20,40,80,100,40,80,50,-170,70,10,-4.897191,-4.183614
4,4,60,-240,40,-110,-440,50,-20,-100,70,40,110,10,70,-130,30,40,-4.897191,-4.183614
996,996,490,380,590,740,2690,1370,1210,920,450,420,460,530,3060,2070,1680,1600,-4.897191,-4.183614
997,997,450,190,600,600,1710,2200,1110,900,430,440,530,490,3060,2100,1620,1670,-4.897191,-4.183614
998,998,480,210,590,530,3910,2440,1170,860,440,480,480,480,3010,1610,1620,1580,-4.897191,-4.183614
999,999,570,330,630,670,3330,2400,1180,860,440,470,450,510,3070,1940,1650,1570,-4.897191,-4.183614
1000,1000,670,290,690,910,3400,1510,1270,950,470,430,460,560,3120,1990,1740,1750,-4.897191,-4.183614

test-4_range: 1001 rows ->
---------------------------

,time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,0,120,130,90,70,50,-70,150,40,80,40,60,-70,-200,90,30,60,-5.186691,-4.322118
1,1,90,100,80,120,60,-50,150,-60,80,60,80,-120,-60,80,0,70,-5.186691,-4.322118
2,2,90,150,70,70,10,-20,120,0,20,80,80,-140,-130,90,-20,130,-5.186691,-4.322118
3,3,110,60,110,120,20,-110,140,140,30,10,90,-70,-70,0,40,80,-5.186691,-4.322118
4,4,140,90,140,130,50,-30,180,60,80,-70,60,20,-110,-10,30,110,-5.186691,-4.322118
996,996,730,690,820,2860,2370,1360,1330,1620,1220,940,990,910,3810,990,1310,1030,-5.186691,-4.322118
997,997,690,710,850,2640,2300,1540,1370,1580,1190,1100,960,750,3110,1000,1090,1050,-5.186691,-4.322118
998,998,740,730,870,2750,2750,1640,1300,1640,1150,740,980,980,3790,1000,1180,980,-5.186691,-4.322118
999,999,790,690,810,2900,2650,1290,1350,1630,1150,580,1040,1040,3580,950,1230,1010,-5.186691,-4.322118
1000,1000,710,660,850,3040,1990,1430,1370,1640,1150,950,1000,990,4190,1020,1200,990,-5.186691,-4.322118

test-5_range: 112801 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,300.0000,15.367854,17.622080,18.538553,18.890608,18.813375,18.796055,18.871290,17.958042,15.307656,15.953501,15.792372,15.705249,16.231226,17.223652,15.099285,14.642567,-1.762651,-0.572494
1,300.0001,15.367846,17.622078,18.538549,18.890606,18.813379,18.796040,18.871288,17.958042,15.307659,15.953501,15.792372,15.705247,16.231224,17.223663,15.099288,14.642566,-1.762651,-0.572494
2,300.0002,15.367843,17.622074,18.538548,18.890602,18.813381,18.796030,18.871288,17.958042,15.307659,15.953501,15.792372,15.705247,16.231224,17.223671,15.099289,14.642564,-1.762651,-0.572494
3,300.0003,15.367837,17.622072,18.538546,18.890598,18.813381,18.796024,18.871286,17.958044,15.307661,15.953500,15.792372,15.705246,16.231222,17.223679,15.099290,14.642562,-1.762651,-0.572494
4,300.0004,15.367833,17.622070,18.538540,18.890596,18.813383,18.796019,18.871286,17.958044,15.307661,15.953500,15.792372,15.705245,16.231220,17.223686,15.099292,14.642561,-1.762651,-0.572494
112796,1299.9501,314.610382,401.666199,469.448578,753.646851,723.116211,606.318176,503.356262,414.205811,395.893372,483.866425,525.746948,601.491028,645.265686,703.304932,541.397461,495.757355,-1.762651,-0.572494
112797,1299.9601,314.607178,401.670288,469.411285,753.634583,723.139893,606.476135,503.301056,414.256012,395.888153,483.851196,525.735168,601.502930,645.283325,703.272461,541.431763,495.802277,-1.762651,-0.572494
112798,1299.9701,314.603882,401.674347,469.373962,753.622375,723.163757,606.633972,503.246155,414.306274,395.882996,483.835999,525.723328,601.514709,645.301025,703.240234,541.466248,495.847229,-1.762651,-0.572494
112799,1299.9801,314.600677,401.678467,469.336792,753.610168,723.187744,606.791504,503.191589,414.356628,395.877899,483.820862,525.711426,601.526550,645.318542,703.207764,541.500732,495.892303,-1.762651,-0.572494
112800,1299.9901,314.597443,401.682526,469.299713,753.597900,723.211914,606.948792,503.137299,414.407043,395.872803,483.805634,525.699646,601.538513,645.336121,703.175415,541.535278,495.937317,-1.762651,-0.572494

test-6_range: 112897 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,300.0000,17.069355,18.651272,19.407335,19.370636,19.777161,19.251335,18.286964,17.459795,14.969195,15.213028,15.923435,15.815703,16.585026,17.393938,15.794651,14.709634,-8.744157,-1.080494
1,300.0001,17.069353,18.651270,19.407330,19.370632,19.777159,19.251335,18.286961,17.459795,14.969196,15.213032,15.923437,15.815700,16.585022,17.393934,15.794649,14.709634,-8.744157,-1.080494
2,300.0002,17.069351,18.651266,19.407322,19.370626,19.777159,19.251337,18.286959,17.459795,14.969198,15.213034,15.923438,15.815697,16.585022,17.393932,15.794647,14.709633,-8.744157,-1.080494
3,300.0003,17.069351,18.651264,19.407316,19.370623,19.777159,19.251337,18.286957,17.459795,14.969200,15.213035,15.923438,15.815696,16.585018,17.393929,15.794645,14.709633,-8.744157,-1.080494
4,300.0004,17.069351,18.651262,19.407312,19.370621,19.777159,19.251337,18.286955,17.459795,14.969200,15.213037,15.923439,15.815694,16.585018,17.393925,15.794642,14.709632,-8.744157,-1.080494
112892,1299.9501,512.357544,689.557251,725.947815,808.256348,853.917114,705.210938,507.165649,616.704224,496.322418,538.756531,565.195374,630.324341,688.118408,813.302063,497.293365,469.477539,-8.744157,-1.080494
112893,1299.9601,512.367554,689.528809,725.975220,808.226990,853.813965,705.183411,507.257446,616.654419,496.270691,538.689392,565.117615,630.239197,687.982605,813.384216,497.295837,469.503082,-8.744157,-1.080494
112894,1299.9701,512.377625,689.500488,726.002441,808.197449,853.710938,705.155823,507.349060,616.604797,496.218719,538.622314,565.039856,630.153992,687.846924,813.465881,497.298431,469.528564,-8.744157,-1.080494
112895,1299.9801,512.387817,689.472046,726.029785,808.167847,853.608032,705.128418,507.440643,616.555481,496.166748,538.555237,564.962280,630.068970,687.711060,813.547302,497.300934,469.554199,-8.744157,-1.080494
112896,1299.9901,512.398010,689.443726,726.057068,808.138184,853.505249,705.101013,507.532013,616.506226,496.114777,538.488159,564.884399,629.984192,687.575195,813.628479,497.303528,469.579712,-8.744157,-1.080494

test-7_range: 112801 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,300.0000,19.198589,21.621674,21.358006,20.414961,21.041689,20.644730,20.664330,19.751699,16.220421,15.866580,17.026928,17.400671,17.077269,18.282455,15.633269,15.983516,-7.538065,-5.166719
1,300.0001,19.198587,21.621670,21.358004,20.414955,21.041689,20.644728,20.664326,19.751694,16.220417,15.866578,17.026926,17.400665,17.077265,18.282480,15.633268,15.983514,-7.538065,-5.166719
2,300.0002,19.198586,21.621664,21.357998,20.414951,21.041687,20.644724,20.664320,19.751690,16.220415,15.866573,17.026924,17.400663,17.077259,18.282511,15.633268,15.983511,-7.538065,-5.166719
3,300.0003,19.198584,21.621660,21.357994,20.414946,21.041687,20.644724,20.664314,19.751686,16.220415,15.866570,17.026924,17.400660,17.077255,18.282532,15.633266,15.983510,-7.538065,-5.166719
4,300.0004,19.198584,21.621658,21.357994,20.414944,21.041687,20.644724,20.664312,19.751682,16.220415,15.866568,17.026922,17.400660,17.077253,18.282555,15.633266,15.983507,-7.538065,-5.166719
112796,1299.9501,714.372314,701.111938,750.396729,810.877563,820.885681,740.814026,546.149475,521.482544,702.322021,662.007812,695.139648,703.046631,716.998291,755.398743,824.449646,792.661194,-7.538065,-5.166719
112797,1299.9601,714.372864,701.091675,750.407898,810.832153,820.871277,740.608276,546.128418,521.511353,702.234680,661.981934,695.094971,703.016479,716.992432,755.367188,824.460205,792.685242,-7.538065,-5.166719
112798,1299.9701,714.373230,701.071533,750.419312,810.786682,820.857056,740.402466,546.107422,521.540222,702.147217,661.956055,695.050476,702.986938,716.987061,755.335449,824.470764,792.708984,-7.538065,-5.166719
112799,1299.9801,714.373596,701.051331,750.430542,810.741272,820.842957,740.197083,546.086365,521.569214,702.059387,661.930359,695.005981,702.957214,716.981567,755.303833,824.481445,792.733215,-7.538065,-5.166719
112800,1299.9901,714.374084,701.031128,750.442139,810.695923,820.828857,739.991760,546.065369,521.598267,701.971497,661.904663,694.961670,702.927734,716.976013,755.272217,824.491821,792.756958,-7.538065,-5.166719

test-8_range: 112840 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,300.0000,18.258812,19.860645,20.614004,19.648048,19.432245,19.931971,19.619469,19.595364,15.514313,15.863655,16.806015,16.874256,16.964579,16.914032,15.248620,15.730734,-9.175183,-7.989294
1,300.0001,18.258806,19.860645,20.614002,19.648048,19.432236,19.931967,19.619465,19.595362,15.514310,15.863651,16.806011,16.874252,16.964575,16.914017,15.248620,15.730734,-9.175183,-7.989294
2,300.0002,18.258802,19.860640,20.613998,19.648046,19.432232,19.931965,19.619461,19.595360,15.514310,15.863647,16.806007,16.874249,16.964571,16.914000,15.248620,15.730733,-9.175183,-7.989294
3,300.0003,18.258797,19.860640,20.613997,19.648046,19.432228,19.931959,19.619461,19.595362,15.514308,15.863643,16.806005,16.874247,16.964571,16.913988,15.248620,15.730733,-9.175183,-7.989294
4,300.0004,18.258793,19.860640,20.613995,19.648045,19.432222,19.931959,19.619457,19.595360,15.514308,15.863639,16.806002,16.874241,16.964567,16.913977,15.248620,15.730733,-9.175183,-7.989294
112835,1299.9501,776.053101,806.335876,775.280029,769.956787,806.622314,767.070862,761.992676,749.089539,632.792297,682.109497,712.713440,692.724243,674.621826,735.844788,743.543091,773.133179,-9.175183,-7.989294
112836,1299.9601,776.044617,806.287781,775.270874,769.932129,806.592224,767.050598,761.962097,749.090332,632.811951,682.084778,712.691711,692.709961,674.602539,735.881348,743.501892,773.115967,-9.175183,-7.989294
112837,1299.9701,776.035889,806.239502,775.261719,769.907532,806.562073,767.030457,761.931519,749.091309,632.831787,682.060547,712.669922,692.695618,674.583130,735.918091,743.460571,773.098755,-9.175183,-7.989294
112838,1299.9801,776.027344,806.191284,775.252625,769.882874,806.531982,767.010254,761.901001,749.092285,632.851379,682.035950,712.648132,692.681396,674.563904,735.954407,743.419495,773.081421,-9.175183,-7.989294
112839,1299.9901,776.018982,806.142944,775.243408,769.858093,806.502136,766.989990,761.870422,749.093262,632.871216,682.011719,712.626221,692.666992,674.544739,735.991272,743.378357,773.064209,-9.175183,-7.989294

test-9_range: 112801 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,300.0000,16.607594,17.427652,17.667067,18.752682,19.016018,18.018076,17.955956,19.520884,15.591205,16.667238,16.917276,16.672897,16.999451,17.775410,16.703363,16.188309,-3.326592,-8.014694
1,300.0001,16.607584,17.427649,17.667057,18.752674,19.016024,18.018080,17.955956,19.520882,15.591197,16.667236,16.917274,16.672897,16.999454,17.775406,16.703360,16.188305,-3.326592,-8.014694
2,300.0002,16.607578,17.427645,17.667051,18.752670,19.016027,18.018082,17.955956,19.520884,15.591193,16.667234,16.917273,16.672897,16.999454,17.775400,16.703358,16.188301,-3.326592,-8.014694
3,300.0003,16.607573,17.427641,17.667046,18.752663,19.016029,18.018085,17.955956,19.520882,15.591187,16.667231,16.917273,16.672899,16.999456,17.775398,16.703356,16.188299,-3.326592,-8.014694
4,300.0004,16.607569,17.427639,17.667038,18.752653,19.016031,18.018089,17.955956,19.520880,15.591182,16.667231,16.917273,16.672899,16.999458,17.775394,16.703354,16.188299,-3.326592,-8.014694
112796,1299.9501,819.843323,841.031799,847.719482,782.190491,827.827881,840.214111,834.840881,800.085327,763.589478,807.206848,745.536621,685.198547,688.203125,770.010559,678.716797,607.857971,-3.326592,-8.014694
112797,1299.9601,819.796692,841.049194,847.735474,782.158508,827.874512,840.198486,834.742798,799.973816,763.555542,807.182800,745.480774,685.147888,688.149292,769.935547,678.689331,607.794189,-3.326592,-8.014694
112798,1299.9701,819.749756,841.066528,847.751587,782.126465,827.921021,840.182922,834.644775,799.862427,763.521729,807.159119,745.424866,685.097168,688.095398,769.860291,678.661926,607.730408,-3.326592,-8.014694
112799,1299.9801,819.703369,841.083923,847.767639,782.094299,827.967468,840.167236,834.546753,799.751038,763.487793,807.135071,745.369080,685.046570,688.041565,769.784912,678.634460,607.666809,-3.326592,-8.014694
112800,1299.9901,819.656799,841.101379,847.783752,782.062317,828.013916,840.151428,834.448669,799.639648,763.454102,807.111084,745.313171,684.996216,687.987732,769.709290,678.607117,607.603088,-3.326592,-8.014694

test-10_range: 112801 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,300.0000,17.752182,18.488436,17.717110,18.606426,18.790766,19.144455,18.663036,19.225666,15.453478,16.391560,16.297522,15.987082,16.280884,17.253485,15.222475,14.489625,-0.974541,-4.026894
1,300.0001,17.752193,18.488432,17.717108,18.606421,18.790768,19.144451,18.663027,19.225668,15.453477,16.391560,16.297520,15.987082,16.280882,17.253473,15.222475,14.489623,-0.974541,-4.026894
2,300.0002,17.752203,18.488428,17.717106,18.606417,18.790768,19.144449,18.663019,19.225670,15.453477,16.391560,16.297520,15.987078,16.280882,17.253466,15.222475,14.489621,-0.974541,-4.026894
3,300.0003,17.752211,18.488428,17.717106,18.606413,18.790768,19.144449,18.663013,19.225672,15.453475,16.391560,16.297520,15.987078,16.280880,17.253452,15.222475,14.489619,-0.974541,-4.026894
4,300.0004,17.752218,18.488424,17.717106,18.606411,18.790768,19.144449,18.663006,19.225674,15.453475,16.391560,16.297520,15.987077,16.280878,17.253445,15.222475,14.489616,-0.974541,-4.026894
112796,1299.9501,708.754883,633.302368,717.608032,965.391846,616.543762,486.033081,525.522522,596.936829,672.941162,761.788208,855.351074,699.518860,687.185913,781.484680,479.829254,468.956848,-0.974541,-4.026894
112797,1299.9601,708.707642,633.333313,717.549927,965.349731,616.581238,486.033173,525.527832,596.930786,672.922668,761.699402,855.358215,699.542053,687.204468,781.491760,479.861847,468.984619,-0.974541,-4.026894
112798,1299.9701,708.660400,633.364624,717.491943,965.307800,616.618958,486.033325,525.533264,596.924622,672.904419,761.610718,855.365356,699.565430,687.223145,781.499329,479.894409,469.012390,-0.974541,-4.026894
112799,1299.9801,708.613037,633.396301,717.433777,965.265686,616.656982,486.033478,525.538574,596.918335,672.886047,761.522095,855.372681,699.588806,687.241821,781.507263,479.927155,469.040192,-0.974541,-4.026894
112800,1299.9901,708.565613,633.428650,717.375793,965.223694,616.695129,486.033630,525.544006,596.911987,672.867676,761.433655,855.379822,699.612366,687.260498,781.515747,479.959808,469.068115,-0.974541,-4.026894

test-11_range: 158357 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,60.0044,0,0.000334,0.000320,0.000413,0.000460,0.000082,0.000400,0.000443,0.000089,0.222600,0.219254,0.000063,0.000466,0.000279,0.000168,0.000402,-5.186691,-4.322118
1,60.0144,0,0.000334,0.000320,0.000413,0.000460,0.000082,0.000400,0.000443,0.000089,0.222599,0.219571,0.000063,0.000448,0.000280,0.000165,0.000402,-5.186691,-4.322118
2,60.0244,0,0.000334,0.000320,0.000413,0.000460,0.000082,0.000400,0.000443,0.000088,0.222599,0.219886,0.000063,0.000440,0.000275,0.000164,0.000402,-5.186691,-4.322118
3,60.0344,0,0.000334,0.000320,0.000413,0.000460,0.000082,0.000400,0.000443,0.000088,0.222600,0.220200,0.000064,0.000453,0.000275,0.000162,0.000402,-5.186691,-4.322118
4,60.0444,0,0.000334,0.000320,0.000413,0.000460,0.000082,0.000400,0.000443,0.000087,0.222602,0.220514,0.000064,0.000430,0.000277,0.000161,0.000402,-5.186691,-4.322118
158352,1059.9751,0,791.486938,857.347656,804.698181,782.696045,777.723694,968.346802,878.197754,716.407104,641.137146,565.122559,387.138977,353.733185,571.289795,563.687805,631.462952,-5.186691,-4.322118
158353,1059.9801,0,791.434204,857.295593,804.650879,782.664856,777.730225,968.296204,878.228638,716.427673,641.257263,565.125793,387.131805,353.731049,571.305237,563.693787,631.473022,-5.186691,-4.322118
158354,1059.9851,0,791.381348,857.243408,804.603638,782.633789,777.737183,968.245544,878.259277,716.448364,641.377380,565.129028,387.124634,353.728912,571.320618,563.699829,631.483093,-5.186691,-4.322118
158355,1059.9901,0,791.328613,857.191345,804.556152,782.602722,777.743835,968.194885,878.290222,716.468933,641.497620,565.132446,387.117432,353.726868,571.336121,563.705750,631.493103,-5.186691,-4.322118
158356,1059.9951,0,791.275757,857.139160,804.508972,782.571594,777.750854,968.144409,878.321106,716.489624,641.617859,565.135742,387.110260,353.724792,571.351562,563.711670,631.503052,-5.186691,-4.322118

test-12_range: 97972 rows ->
---------------------------

,flow-time,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,X,Z
0,0.388,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.856481,-4.322118
1,0.398,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.856481,-4.322118
2,0.408,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.856481,-4.322118
3,0.418,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.856481,-4.322118
4,0.428,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.856481,-4.322118
97967,999.958,0.672068,0,1121.263428,1115.966431,1162.688965,1044.396729,1187.366455,1170.466309,4.814718,0.036940,810.533569,3249.333984,2454.925781,3635.814209,4138.591309,4521.295410,-4.856481,-4.322118
97968,999.968,0.672087,0,1121.266357,1115.972534,1162.691162,1044.400146,1187.375244,1170.469360,4.814291,0.036951,810.519714,3249.360840,2454.945068,3635.873291,4138.637207,4521.345215,-4.856481,-4.322118
97969,999.978,0.672072,0,1121.269653,1115.978271,1162.693726,1044.403564,1187.384155,1170.472168,4.813863,0.036962,810.505737,3249.387451,2454.964355,3635.932617,4138.683594,4521.395020,-4.856481,-4.322118
97970,999.988,0.672060,0,1121.272827,1115.984375,1162.696411,1044.406982,1187.393311,1170.474854,4.813434,0.036973,810.491699,3249.414062,2454.983398,3635.991699,4138.729980,4521.444336,-4.856481,-4.322118
97971,999.998,0.672065,0,1121.276001,1115.990234,1162.698730,1044.410522,1187.401978,1170.477783,4.813005,0.036985,810.477661,3249.440674,2455.002441,3636.051025,4138.776367,4521.494141,-4.856481,-4.322118

# Save DATASET FILE

In [9]:
# Make folder
out_dir = 'processed'
os.makedirs(out_dir, exist_ok = True)

In [10]:
# Save each filtered dataset in a numbered, ordered way

for idx, (key, df_r) in enumerate(filtered.items(), start=2):
    filename = f"{idx:02d}_{key}.csv"
    out_path = os.path.join(out_dir, filename)
    df_r.to_csv(out_path, index=False)
    print(f"Saved {out_path}")

Saved processed/02_test-2_range.csv
Saved processed/03_test-3_range.csv
Saved processed/04_test-4_range.csv
Saved processed/05_test-5_range.csv
Saved processed/06_test-6_range.csv
Saved processed/07_test-7_range.csv
Saved processed/08_test-8_range.csv
Saved processed/09_test-9_range.csv
Saved processed/10_test-10_range.csv
Saved processed/11_test-11_range.csv
Saved processed/12_test-12_range.csv

In [11]:
combined = pd.concat(filtered.values(), ignore_index=True)
combined_out = os.path.join(out_dir, '00_all_tests_filtered.csv')
combined.to_csv(combined_out, index=False)

print(f"Saved combined dataset to {combined_out}")

Saved combined dataset to processed/00_all_tests_filtered.csv

In [ ]:
# for key, df_r in filtered.items():
#     out_path = os.path.join(out_dir, f"{key}.csv")
#     df_r.to_csv(out_path, index=False)
#     print(f"Saved {out_path}")